body{
    background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    color: white;
}
#survey-form{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgba(43, 43, 104,0.7);
    text-align: center;
   
}

input{
    margin: 10px;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
}
#title{
    text-align: center;
    color: white;
    font-family: monospace , sans-serif;
}
#description{
    text-align: center;
    font-family: monospace , sans-serif;
    color: white;
}
#select{

    width: 100%;
   display: block;
    text-align: left;
    margin: 10px;
}

#name , #email , #number{
    width: 90%; 
    margin : 10px;
 

}
label{
    text-align: left;
    margin : 10px;
}
#dropdown-select{
    text-align: left;
    margin: 10px;
  
  
}

header{
    text-align: left;
    margin : 10px;

}
button{
    padding: 10px;
    background-color: yellowgreen;
    width: 90%;
    margin: 40px;
   
}
#radio{
    margin : 10px;

}
#dropdown{
    width: 90%; 
    padding: 10px;
    border-radius: 5px;

}
@media screen and (max-width: 600px) {
  
    #survey-form{
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        background-color: rgba(43, 43, 104,0.7);
        background-repeat: no-repeat;
        text-align: center;
       
    }
    #description{
        text-align: center;
        font-family: monospace , sans-serif;
        color: black;
    }
textarea{
    
    display: block;
    width: 90%;
}
}
